@model IEnumerable<QLCAFESAAS.Models.CafeModel>

<link rel="stylesheet" href="~/css/HienThiDanhSach.css" asp-append-version="true" />
<script src="~/js/DeleteAndRestoreCafeJavaScript.js"></script>
@{
    ViewData["Title"] = "Manager Page";
    Layout = "~/Views/Shared/_LayoutCN.cshtml";
}

@if (Model.Any())
{
    <div class="form-container-List">
        <h2 class="form-title">Danh sách cửa hàng</h2>
        <form asp-action="AddCafe" method="get" class="formmn">
            <button class="btnListadd">Thêm cửa hàng</button>
        </form>
        <div class="outertable">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên cửa hàng</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Mô tả</th>
                        <th>Xử lý</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var cafe = Model.ElementAt(i);
                        var dimClass = cafe.Status ? "" : "dimmed";
                        <tr id="cafe-row-@cafe.CafeID">
                            <td>@(i + 1)</td>
                            <td class="@dimClass">@cafe.CafeName</td>
                            <td class="@dimClass">@cafe.Address</td>
                            <td class="@dimClass">@cafe.Phone</td>
                            <td class="@dimClass">@cafe.Description</td>
                            <td>
                                @if (cafe.Status)
                                {
                                    <button id="delete-btn-@cafe.CafeID" class="buttonDele" onclick="deleteCafe('@cafe.CafeID')">Xóa</button>
                                    <button id="restore-btn-@cafe.CafeID" class="buttonRestore" onclick="restoreCafe('@cafe.CafeID')" style="display: none;">Khôi phục</button>
                                    <button id="update-btn-@cafe.CafeID" class="buttonUpdate" onclick="window.location.href='@Url.Action("UpdateCafe", "Manager", new { cafeId = cafe.CafeID })'">Sửa</button>

                                }
                                else
                                {
                                    <button id="delete-btn-@cafe.CafeID" class="buttonDele" onclick="deleteCafe('@cafe.CafeID')" style="display: none;">Xóa</button>
                                    <button id="restore-btn-@cafe.CafeID" class="buttonRestore" onclick="restoreCafe('@cafe.CafeID')">Khôi phục</button>

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="form-container-List">
        <h2 class="form-title">Danh sách cửa hàng</h2>
        <form asp-action="AddCafe" method="get">
            <button class="btnListadd">Thêm cửa hàng</button>
        </form>
        <div class="outertable">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên cửa hàng</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Mô tả</th>
                        <th>Xử lý</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <p>Danh sách cửa hàng trống.</p>
}